body {
    font-family: Arial, sans-serif;
}

.hero {
    padding: 130px 0;
    background: #f8f9fa;
}

.hero h1 {
    font-size: 45px;
}

.features .card {
    border-radius: 10px;
    transition: 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .card:hover {
    background-color: #1e6add!important;   
    color: white;
}

.features .card:hover h5,
.features .card:hover p {
    color: white;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    background-color: #0d6efd;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #084298;
}

/* Main Content */
.main-content {
    padding: 20px;
}

/* Top Bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cards */
.dashboard-card {
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

/* Table Section */
.table-section {
    margin-top: 40px;
}

.navbar .btn {
    background-color: #0d6efd;
    color: white;
    transition: 0.3s;
}

/* 👇 Hover effect */
.navbar .btn:hover {
    background-color: #084298;
    /* darker blue */
    color: white;
}

/* Wrapper */
.image-wrapper {
    position: relative;
    height: 100vh; /* 🔥 full screen height */
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 🔥 best option */
}

/* Overlay ===  Login ==== */
.overlay-content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Optional: glass effect */
.overlay-content .bg-light {
    background: rgba(255, 255, 255, 0.85) !important;
    backdrop-filter: blur(8px);
}

/* =====Techer Login box ======= */
.card {
    background: rgba(255, 255, 255, 0.85) !important; 
    backdrop-filter: blur(12px);                      
}


